ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   /* border: 20px solid #ffffff;*/
  /*  position: fixed;
    top: 0;
    width: 100%;*/
}

li {
    float: left;
    /*border-right:1px solid #bbb;*/
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial';
}

li a:hover:not(.active) {
    background-color: #b3ffec;
}

.active {
    background-color: #b3ffec;
}
 body{
    background-color: #e6ffff;
 }


 div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 1000px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 10%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h1{
   font-family:  "Impact", Charcoal, sans-serifl;
}
 div.about {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    height: 350px;
}

div.about:hover {
    border: 1px solid #777;
}

/*log in*/

 div.login {
    margin: 35px;
   /* border: 1px solid #ccc;*/
    float: right;
    width: 750px;
    /*height: 380px;*/
}

div.login:hover {
    border: 1px solid #777;
}

.jumbotronlogin {
  height: 400px;
  width: 300%;
  max-height: 50%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  background-size: 100% 100%;
  background-image: url("/images/helping-hand-agency.jpg"); 
}

 div.design {
    margin: 35px;
    border: 1px solid #ccc;
    float: left;
    width: 450px;
    height: auto;
}

div.design:hover {
    border: 1px solid #777;
}
div.designdesc {
    padding: 15px;
    text-align: center;
    background-color: #ff1a75;
    font-family: "Verdana";
}

 div.design1 {
    margin-left: 35px;
  
    border: 1px solid #ccc;
    float: left;
    width: 450px;
    height: auto;
}

div.design1:hover {
    border: 1px solid #777;
}
div.designdesc1 {
    padding: 15px;
    text-align: center;
    background-color: #ff1a75;
    font-family: "Verdana";
}

/*others*/
 div.others {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    height: 350px;
    background-image: url("/images/design.jpeg"); 
    background-size: 100% 100%;
}

div.others:hover {
    border: 1px solid #777;
}



/*form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}*/

